<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Markdown Editor"
            extensions="md"
            icon="icons/markdown.png"
            class="com.arundhaj.markdown.editors.MarkdownEditor"
            id="com.arundhaj.markdown.editors.MarkdownEditor">
      </editor>
   </extension>

</plugin>
